{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="video_wrapper">
    <video id="splashVideo" autoplay loop></video>

    <script async>
        var video = document.getElementById("splashVideo");
        if(screen.width < 480) {
            video.src = "{{ .Site.BaseURL }}/video/lathe-small.mp4"
        } else {
            video.src = "{{ .Site.BaseURL }}/video/lathe.mp4"
        }

        video.load();
    </script>
    <noscript>
        <video src="{{ .Site.BaseURL }}/video/lathe.mp4" autoplay="true" loop></video>
    </noscript>

    <div class="video_shade">
    </div>
    <div class="hero">
        <h1>TinkerSoc</h1>
        <p>The University of Kent's Tinkering Society</p>
        <a href="#belowfold"><img class="downarrow" src="{{ .Site.BaseURL }}/images/arrow_down.png" alt="Down arrow" width="100px" height="100px"></a>
    </div>

</div>

<section>

    <p id="belowfold">It’s a Wednesday and you have decided that you want to MAKE
    something. But, where on campus do you go if you want to do some sewing?
    Perhaps you have an itch to turn something on a lathe or want just want to
    send a radio wave around the world?</p>

    <p>TinkerSoc, Kent’s Maker society, is the place to go. Whether it’s 3D
    printing something, or cutting through materials with lasers, we have the
    tools and experience to help you with your project. We even run workshops,
    so that you can pick up new skills (no experience is required!)</p>

    <p>So, if this has piqued your interest and you want to hang out with
    like-minded people who enjoy making things, then pop along to The Shed (the
    School of Computing’s Makerspace - located in the Cornwallis Quad) from 1PM
    on a Wednesday! We run structured activities too, most weeks, from 6PM on 
    the same day (join our mailing list to find out what these are each week)!</p>

    <p>Your first time at TinkerSoc is always free and subs go towards hosting
    workshops and funding new tools.</p>

</section>

{{ partial "footer.html" . }}
