.ts-committee-member {
    height: 28em;
}

#landing {
    background-color: maroon;
    margin-top: -21px;
    padding-top: 21px;
    display: block;
    vertical-align: bottom;
}

body header nav .btn {
    margin-right: 0px;
}
