 <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <a class="navbar-brand" href="{{ .Site.BaseURL }}/">{%picture icon logo(2013)-white-transparent-notext.png%}{{ .Site.Title }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <div class="navbar-form navbar-right">
			  <button class="btn btn-success" onclick="location.href='{{.Site.BaseURL}}/joinus.html'">Join Us!</button>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
