<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="./assets/images/_fullsize/logo(2013)-white-transparent-notext.png" alt="Tinkersoc">
                    TinkerSoc
                </a>
            </div>
            <div class="collapse navbar-collapse" id="tinkersoc-menu-main">
                <ul class="nav navbar-nav">
                    {{ $currentNode := . }}
                    {{ range .Site.Menus.main }}
                        {{ if .HasChildren }}
                    <li class="dropdown-toggle{{if $currentNode.HasMenuCurrent "main" . }} active{{ end }}">
                        <a href="{{ .URL }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {{ range .Children }}
                            <li{{ if $currentNode.IsMenuCurrent "main" . }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                        {{ else }}
                    <li{{ if $currentNode.IsMenuCurrent "main" . }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
                <div class="navbar-right">
                    <button type="button" class="btn btn-success navbar-btn navbar-right">Join us!</button>
                </div>
            </div>
        </div>
    </nav>
</header>
