{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<article class="content-wide">
    <h1>{{ .Title }}</h1>
    {{ range $.Site.Data.committee_current }}
    <figure>
      <img src="{{.Site.BaseURL}}/gen/images/{{ replaceRE "(.*)\\.(\\w+)$" "$1-medium.$2" .image }}"
          srcset="{{.Site.BaseURL}}/gen/images/{{ replaceRE "(.*)\\.(\\w+)$" "$1-large.$2" .image }} 960w,
          {{.Site.BaseURL}}/gen/images/{{ replaceRE "(.*)\\.(\\w+)$" "$1-medium.$2" .image }} 480w,
          {{.Site.BaseURL}}/gen/images/{{ replaceRE "(.*)\\.(\\w+)$" "$1-small.$2" .image }} 280w"
          alt="Photo of {{.Name}}"/>
        <figcaption>
        {{ .comment }} - {{if .url }}<a href="{{.url}}">{{ .name }}</a>{{else}}{{.name}}{{end}}
        </figcaption>
    </figure>
    {{ end }}


    <h2>The Fallen</h2>
    <p>These brave men and women gave up their free time and sanity
    for TinkerSoc and have since moved on to pastures green. They
    should not be forgotten.</p>
    
    <ul>
    {{ range $.Site.Data.committee_fallen }}
      <li><b>{{if .url }}<a href="{{.url}}">{{ .name }}</a>{{else}}{{.name}}{{end}}</b> - {{ .comment }}</li>
    {{ end }}
    </ul>
</article>

{{ partial "footer.html" . }}
