<footer>
    <div class="content">
        <div class="col">
            <h1>Links</h1>
            <ul>
                <li><a href="https://www.facebook.com/TinkerSoc">Facebook</a></li>
                <li><a href="https://twitter.com/TinkerSoc">Twitter</a></li>
                <li><a href="http://flickr.com/groups/tinkersoc">Flickr Group</a></li>
            </ul>
        </div>
        <div class="col">
            <h1>More Geek Societies</h1>
            <ul>
                <li><a href="http://www.adventuregaming.co.uk/">Adventure Gaming</a></li>
                <li><a href="http://www.animesoc.org.uk/">Anime Soc</a></li>
                <li><a href="https://www.facebook.com/groups/kentvideogamingsociety/">Kent Video Game Soc</a></li>
                <li><a href="http://ukcsfxsoc.co.uk/">SFX</a></li>
            </ul>
        </div>
        <div class="col">
            <h1>Other stuff</h1>
            I need something to go here or the footer looks super unbalanced :(
        </div>

        <p class="copy">Copyright &copy; TinkerSoc {{ .Date.Year }}</p>
    </div>
</footer>

</body>
</html>
