<footer>
    <div class="content">
      <div class="social">
        <!-- Aggghh Facebook https://stackoverflow.com/a/22710437 -->
        <iframe id="fb_like_button" style="border:none;overflow:hidden;vertical-align:top;" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FTinkerSoc%2F&width=146&layout=button_count&action=like&size=large&show_faces=false&share=true&height=46&appId" width="146" height="46" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <a href="https://twitter.com/TinkerSoc" class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="true" height="46">Follow @TinkerSoc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <p class="copy">Copyright &copy; TinkerSoc {{ now.Format "2006" }}</p>
    </div>
</footer>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-44295824-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
