<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title}}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css" >
    <meta name="viewport" content="width=device-width, user-scalable=yes, , initial-scale=1" >
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://ssl.google-analytics.com https://connect.facebook.net; img-src 'self' https://ssl.google-analytics.com https://s-static.ak.facebook.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com https://themes.googleusercontent.com; frame-src https://www.google.com https://calendar.google.com https://www.facebook.com https://s-static.ak.facebook.com https://www.youtube.com; object-src 'none'">
    <meta charset="utf-8" >
</head>
<body>
    <noscript id="deferred-styles">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif"/>
    </noscript>
    <script async>
    var loadDeferredStyles = function() {
      var addStylesNode = document.getElementById("deferred-styles");
      var replacement = document.createElement("div");
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement)
      addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
    </script>
