<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title}}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css" >
    <meta name="viewport" content="width=device-width, user-scalable=yes, , initial-scale=1" >
    <meta charset="utf-8" >
</head>
<body>
    <script async>
      function loadStyleSheet(src){
        if (document.createStyleSheet) document.createStyleSheet(src);
        else {
          var stylesheet = document.createElement('link');
          stylesheet.href = src;
          stylesheet.rel = 'stylesheet';
          stylesheet.type = 'text/css';
          document.getElementsByTagName('head')[0].appendChild(stylesheet);
        }
      }
      loadStyleSheet("https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif");
    </script>
